@model workshop.Models.BookSearch

@{
    ViewBag.Title = "Index";
}

<h2>書籍查詢</h2>


@using (Html.BeginForm("Index", "Employee", FormMethod.Post, new { id = "Form1" }))
{
<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(model => model.BookName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BookName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookCategory, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BookCategory, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LendName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.LendName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BookStatus, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <input type="submit" value="查詢" />
            @Html.ActionLink("add", "InsertEmployee")
            @Html.ActionLink("清除", "Index")
        </div>
    </div>

    @if (true || ViewBag.SearchResult != null)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr id>
                    <th></th>
                    <th>圖書類別</th>
                    <th>書名</th>
                    <th>購書日期</th>
                    <th>借閱狀態</th>
                    <th>借閱人</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @*
                @foreach (var item in (List<workshop.Models.Books>)ViewBag.SearchResult)
                {
                    <tr id='@item.BookId'>
                        <td>@item.BookCategory</td>
                        <td>@item.BookName</td>
                        <td>@item.BoughtDate</td>
                        <td>@item.BookStatus</td>
                        <td>@item.LendName</td>
                        <td>@Html.ActionLink("修改", "UpdateEmployee", new { id = item.BookId, @value = @item.BookId })</td>
                        <td>
                            <a class="btnDelete" href="#" onclick="test(this,'@item.BookId');">刪除</a>
                            <input class="hidEmployeeId" type="hidden" value='@item.BookId' />
                        </td>
                        <td></td>
                    </tr>
                }
                *@
            </tbody>
        </table>
    }

</div>

}
