@model workshop.Models.BookSearch

@{
    ViewBag.Title = "Index";
}

<h2>書籍查詢</h2>


@using (Html.BeginForm("Index", "Library", FormMethod.Post, new { id = "Form1" }))
{
<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(model => model.BookName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BookName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookCategory, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.BookCategory, (List<SelectListItem>)ViewBag.BookCategory, "請選擇", new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.LendName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.LendName, (List<SelectListItem>)ViewBag.LendName, "請選擇", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.BookStatus, (List<SelectListItem>)ViewBag.BookStatus, "請選擇", new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <input class="btn btn-default" type="submit" value="查詢" />
            <button class="btn btn-default" type="button">@Html.ActionLink("清除", "Index")</button>
            <button class="btn btn-default" type="button">@Html.ActionLink("新增", "InsertBook")</button>

        </div>
    </div>

    @if (ViewBag.SearchResult != null)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr id="search_table">
                    <th>圖書類別</th>
                    <th>書名</th>
                    <th>購書日期</th>
                    <th>借閱狀態</th>
                    <th>借閱人</th>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in (List<workshop.Models.Books>)ViewBag.SearchResult)
                {
                    <tr id='@item.BookId'>
                        <td>@item.BookCategory</td>
                        <td>@item.BookName</td>
                        <td>@item.BookBoughtDate</td>
                        <td>@item.BookStatus</td>
                        <td>@item.LendName</td>
                        <td>
                            <Button class="btn btn-default" type="button">借閱紀錄</Button>
                        </td>
                        <td>
                            @using (Html.BeginForm("EditBook", "Library", FormMethod.Post, new { id = "EditBook" }))
                            {
                                <input type="hidden" id="BookId" name="BookId" value="@item.BookId" />
                                <button class="EditBook btn btn-default">編輯</button>
                            }
                        </td>
                        <td>
                            <button class="btnDelete btn btn-default" href="#" >刪除</button>
                            <input class="hidBookId" type="hidden" value='@item.BookId' />
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }

</div>

  //Delete click event
}<script type="text/javascript">
    $(document).ready(function () {
        $(".btnDelete").click(function (e) {
            if (confirm("確定刪除?")) {
                e.preventDefault();
                var tr = $(this).closest('tr')
                $.ajax({
                    type: "POST",
                    url: "/Library/DeleteBook",
                    data: "BookId=" + $(this).next().val(),
                    dataType: "json",
                    success: function (response) {
                        $(tr).remove();
                    }, error: function (error) {
                        alert("系統發生錯誤");
                    }
                });
            }
            return false;
        });
    });
</script>
